@media screen and (max-width: 768px) {
    div.container {
        .cats-grid {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            .cat-item {
                &:hover { transform: scale(1.3); }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .nav-wrapper {
        position: static;
        padding-top: 0;
        .container {
            padding: 0;
            .nav ul {
                display: flex;
                flex-direction: column;
                height: auto;
                li { 
                    padding: 0 22px;
                    height: 100%;
                    width: 100%;
                    line-height: 64px;
                }
            }
        }
    }
    div.container {
        padding: 0 30px;
        margin: auto;
        .cats-grid {
            margin-top: 30px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            .cat-item {
                margin: 0;
                &:hover { 
                    transform: scale(1.1);
                    .heart-img { 
                        display: block; 
                        color: red;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%)
                    }
                    }
                    .heart-img {
                    display: none;
                    font-size: 30px;
                    }
            }
        }
        .cats-loading { margin: 30px 0 25px 0; }
    }
}
